:host {
  display: block;
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--color-page-background);
}

.main {
  min-width: 0;
}
